certifi==2025.6.15
cffi==1.17.1
curl_cffi==0.11.4
fake-useragent==2.2.0
pyaes==1.6.1
pycparser==2.22
pycryptodome==3.23.0
pymediainfo-pyrofork==6.0.2
pyrofork==2.3.67
Pyrogram==2.0.106
PySocks==1.7.1
python-dotenv==1.1.1
tonnelmp==1.2
requests
flask
tgcrypto
nest_asyncio

